@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400&display=swap');

$montserrat: 'Montserrat', sans-serif;

$dark: #292929;
$lightGrey: #eeefeb;
$darkGrey: #343a40;
$green: #70e000;
$darkGreen: #29bf12;
$red: #d00000;
